#layersSection {
  background: var(--zinc-500);
  padding: 4px;
  display: flex;
  flex-direction: column-reverse;
  gap: 2px;
  overflow-y: scroll;
}

.layer-action-buttons {
  display: flex;
  gap: 4px;
}

.layers-action-button {
  background: var(--white);
  width: 24px;
  height: 24px;
  padding: 2px;
  cursor: pointer;
  border: 1px solid var(--zinc-700);
}

.layers-action-button:hover {
  border-color: var(--orange-400);
}

.layers-action-button:hover img {
  filter: var(--orange-400-f)
}

.layers-action-button img {
  width: 100%;
  height: 100%;
}

.layer {
  padding: 2px;
  display: flex;
  gap: 4px;
  border: 1px solid var(--zinc-700);
  background: var(--white);
}

.layer-button {
  width: 18px;
  height: 18px;
  background: var(--white);
  border: 1px solid var(--zinc-700);
  cursor: pointer;
}

.layer-button:hover {
  border-color: var(--orange-400);
}

.layer-button img {
  width: 100%;
  height: 100%;
}

.layer-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.layer:hover {
  filter: brightness(0.9);
}

.layer:focus {
  filter: brightness(1);
}

.layer-focused {
  border-color: var(--blue-400);
}

.layer-button:hover img {
  filter: var(--orange-400-f);
}

.layer-name {
  font-size: 14px;
}

.layer-opacity {
  font-size: 10px;
  cursor: default;
}

.layer-opacity:hover {
  transform: scale(1.2);
}