.layers-render {
  padding: 2px;
  max-height: 304px;
  overflow-y: scroll;
}

.layer {
  margin: 2px 0;
  padding: 2px;
  display: flex;
  gap: 4px;
  border: 1px solid var(--zinc-700);
  background: var(--white);
}

.layer-sel {
  border-color: var(--sky-700);
  background: var(--sky-100);
}

.layer-foc {
  border-color: var(--indigo-700);
  background: var(--indigo-100);
}

.layers-no {
  font-size: 16px;
  color: rgb(125, 125, 125);
  font-weight: 600;
}

.layer-button {
  width: 18px;
  height: 18px;
  background: var(--white);
  border: 1px solid var(--zinc-700);
  cursor: pointer;
}

.layer-sel .layer-button {
  border-color: var(--sky-700);
}

.layer-foc .layer-button {
  border-color: var(--indigo-700);
}

.layer-button:hover {
  border-color: var(--orange-400);
}

.layer-button img {
  width: 100%;
  height: 100%;
}

.layer-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.layer:hover {
  filter: brightness(0.95);
}

.layer:focus {
  filter: brightness(1);
}

.layer-button:hover img {
  filter: var(--orange-400-f);
}

.layer-name {
  font-size: 14px;
}

.layer-opacity {
  font-size: 10px;
  cursor: default;
}

.layer-opacity:hover {
  transform: scale(1.2);
}